body {
    background-color: whitesmoke;
  }


/* Top nav css Below */ 
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    padding-bottom: 10px;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: whitesmoke;
    background-color: #60731D;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
      padding: 12px;
      border: 2px round ;
      border-radius: 5px;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #60731D;}
  
  ul.topnav li a.active {background-color: #B0BF8E;}
  
  ul.topnav li.right {float: right;}
  
  
  .heading {
      background-color: #B0BF8E;
      padding-left: 40px;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-right: 40px;
      border-radius: 5px;
      text-align: center;
      
  }
  
  
  .content {
      background-color: whitesmoke;
      padding-left: 40px;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-right: 40px;
      font-family: Arial, sans-serif;
      color: #42423F;
      
  }
  
  
  .countdown {
      background-color: whitesmoke;
      font-family: Arial, sans-serif;
      color: #42423F;
    text-align: center;
    margin-left: 300px;
  margin-right: 300px;
    padding: 2px;
    border: 3px solid #60731D;
    border-radius: 5px;
      
  }
  
  .footer {
    background-color: #B0BF8E;
      padding-left: 10px;
      padding-top: 2px;
      padding-bottom: 10px;
      padding-right: 10px;
      border-radius: 5px;
     text-align: center;
  }
  


/* RSVP section */

  .text-center {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    border-radius: 5px;
    text-align: center
}

.rsvp__options {
  display: flex;
  justify-content:left;
}

.rsvp__option {
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.rsvp__option.is-active {
  background-color: #B0BF8E;
  color: white;
}

.rsvp__show {
  display: none;
}

.rsvp__show.is-active {
  display: block;
}

.js-form-name,
.js-form-comments,
.js-form-diet {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 5px;
}

.rsvp__submitbutton {
  background-color: #60731D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
}

.rsvp__submitbutton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.js-form-success {
  margin-top: 20px;
  text-align: center;
  display: none;

}

.container {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*Infomation css*/


.schedule {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  padding-bottom: 50px;
}

.ourstory {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  padding-bottom: 50px;
}

.qa {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  padding-bottom: 50px;
}

.gallery {
  width: 100%;
  padding-bottom: 50px;
}

#infofoot {
  padding-top: 50px;
}

.responsivestoryimage {
width: 100%;
  height: auto;

}



/*faqs css*/

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*gallery css*/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/* Home Image Gallery 1 */
.slider {
  width: 500px;
  height: 300px;
  background-color: #B0BF8E;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 1500px;
  background-color: whitesmoke;
  height: 300px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}

.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: #60731D;
}
